#random_password {
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#random_password #password_text {
    font-size: 36px;
    height: 100%;
}

#password_configuration {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#password_checker { 
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}